@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;

  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.test {
  width: 1000px;
  height: 1000px;
  background-color: #cecece;

  font-size: 30px;
}
