@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: #383936;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

ol {
  margin-left: 20px;
}

li {
  margin-left: 40px;
  color: #727272;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 33px;
  font-weight: 700;
  color: #383936;
}

h5 {
  font-size: 22px;
  font-weight: 700;
  color: #494950;
}

.fwb {
  font-weight: bold;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.page {
  width: 1190px;
  height: 1679px;
}

.for-center {
  display: flex;
  justify-content: center;
}

.image-container {
  page-break-before: always;
}

.need-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  padding: 3rem;
}

.for-margin {
  width: 100%;
  height: 100%;
  padding: 55px 70px;
  background-color: #ffffff;
}

.title-container .top-line {
  height: 3px;
  background-color: #383936;
}
.title-container .main-title {
  margin: 25px 20px;
}
.title-container .bottom-line {
  opacity: 0.7;
}

.user-info {
  display: flex;
  align-items: baseline;
  justify-content: end;
  font-size: 30px;
  margin-bottom: 10px;
}
.user-info .sub-title {
  color: #cecece;
  margin-right: 20px;
}
.user-info .department,
.user-info .duty {
  font-weight: bold;
  margin-right: 40px;
}
.user-info .user-name {
  font-weight: bold;
  font-size: 25px;
}

.page-13-sub-image-1 img {
  width: 380px;
}

.image-sub-title-js {
  font-weight: bold;
  font-size: 25px;
  margin-top: 16px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr60 {
  margin-right: 60px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.fb {
  font-weight: bold;
}

.flex {
  display: flex;
}
.flex.ab {
  align-items: baseline;
}
.flex.jcs {
  justify-content: center;
}
.flex.sb {
  justify-content: space-between;
}

.jcw {
  justify-content: space-between;
}

.fc {
  flex-direction: column;
}

.flc {
  display: flex;
  align-items: center;
}
.flc.jcs {
  justify-content: center;
}
.flc.sb {
  justify-content: space-between;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w250px {
  width: 250px;
}

.p0-27 {
  padding: 0px 27px;
}

.left-container {
  border-right: 1px solid #e4e4e4;
}

.h1207 {
  height: 1207px;
}

.h418 {
  height: 418px;
}

.leader-type-title {
  font-size: 20px;
  color: #0091ea;
  margin-right: 50px;
}

.coch-container {
  justify-content: flex-start;
  margin-top: 85px;
  border-radius: 18px;
  background-color: #f4f4f4;
  padding: 28px 40px;
}

.pr-title {
  border: 3px solid #88cef9;
  padding: 14px 40px;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  background: #e7f5fd;
  color: #0091ea;
  font-size: 21px;
}

.page-15-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-15-main-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container .main-sub-title {
  font-size: 25px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 10px;
  width: fit-content;
  height: 35px;
  background: #f4f4f6;
  border-radius: 8px;
  font-size: 16px;
}

table {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
table .bt {
  border-top: 1px solid #eaeaec;
}
table .bb {
  border-bottom: 1px solid #eaeaec;
}
table .br {
  border-right: 1px solid #eaeaec;
}
table .header {
  background-color: #f4f4f6;
}
table .emphasize {
  background-color: #eaeaec;
}
table .wmv {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
table td {
  padding: 8px 20px;
  font-size: 16px;
}

ul li {
  font-size: 18px;
}

@media print {
  .page {
    width: 1190px;
    height: 1678px;
  }
  .for-center {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
