@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: #383936;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

ol {
  margin-left: 20px;
}

li {
  margin-left: 40px;
  color: #727272;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 33px;
  font-weight: 700;
  color: #383936;
}

h5 {
  font-size: 22px;
  font-weight: 700;
  color: #494950;
  min-width: max-content;
}

h6 {
  font-size: 28px;
  font-weight: 700;
  color: #494950;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
  color: #494950;
  font-weight: 600;
}

.fwb {
  font-weight: bold;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.page {
  width: 1190px;
  height: 1679px;
}

.for-center {
  display: flex;
  justify-content: center;
}

.image-container {
  page-break-before: always;
  position: relative;
}

.page-absolute {
  position: absolute;
  bottom: 65px;
  right: 65px;
  color: #545454;
}

.need-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  padding: 3rem;
}

.for-margin {
  width: 100%;
  height: 100%;
  padding: 55px 70px;
  background-color: #ffffff;
}

.title-container .top-line {
  height: 3px;
  background-color: #383936;
}
.title-container .main-title {
  margin: 25px 20px;
}
.title-container .bottom-line {
  opacity: 0.7;
}

.user-info {
  display: flex;
  align-items: baseline;
  justify-content: end;
  font-size: 30px;
  margin-bottom: 10px;
}
.user-info .sub-title {
  color: #cecece;
  margin-right: 20px;
}
.user-info .department,
.user-info .duty {
  font-weight: bold;
  margin-right: 40px;
}
.user-info .user-name {
  font-weight: bold;
  font-size: 25px;
}

.image-sub-title-js {
  font-weight: bold;
  font-size: 25px;
  margin-top: 16px;
}

.mr8 {
  margin-right: 8px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr60 {
  margin-right: 60px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.pt30 {
  padding-top: 30px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.fb {
  font-weight: bold;
}

.flex {
  display: flex;
}
.flex.ab {
  align-items: baseline;
}
.flex.afe {
  align-items: flex-end;
}
.flex.afs {
  align-items: flex-start;
}
.flex.jce {
  justify-content: end;
}
.flex.jcs {
  justify-content: center;
}
.flex.sb {
  justify-content: space-between;
}
.flex.ac {
  align-items: center;
}

.jcw {
  justify-content: space-between;
}

.fc {
  flex-direction: column;
}

.flc {
  display: flex;
  align-items: center;
}
.flc.jcs {
  justify-content: center;
}
.flc.sb {
  justify-content: space-between;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w250px {
  width: 250px;
}

.p0-27 {
  padding: 0px 27px;
}

.left-container {
  border-right: 1px solid #e4e4e4;
}

.h1207 {
  height: 1207px;
}

.h418 {
  height: 418px;
}

.leader-type-title {
  font-size: 20px;
  color: #0091ea;
  margin-right: 50px;
}

.coch-container {
  justify-content: flex-start;
  margin-top: 85px;
  border-radius: 18px;
  background-color: #f4f4f4;
  padding: 28px 40px;
}

.pr-title {
  border: 3px solid #88cef9;
  padding: 14px 40px;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  background: #e7f5fd;
  color: #0091ea;
  font-size: 21px;
}

.page-15-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-15-main-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-19-data-table .rate-value {
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.page-22-line-container .vertical-line {
  position: absolute;
  width: 1px;
  background-color: red;
  height: 332px;
  right: 328px;
}
.page-22-line-container .vertical-text {
  color: red;
  position: absolute;
  bottom: -24px;
  right: 312px;
  font-size: 14px;
}

.page-22-bar-graph-three-type {
  width: 100%;
  height: max-content;
}
.page-22-bar-graph-three-type p {
  font-size: 16px;
  margin: 0 10px;
}
.page-22-bar-graph-three-type .item-row {
  display: flex;
}
.page-22-bar-graph-three-type .item-row .categories-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 140px;
  font-size: 18px;
  background-color: #878792;
  color: #fff;
}
.page-22-bar-graph-three-type .item-row .type-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 180px;
  font-size: 16px;
  background-color: #f4f4f6;
  color: #494950;
  padding: 8px 16px;
}
.page-22-bar-graph-three-type .item-row .percentage-text {
  font-size: 14px;
  color: #878792;
  margin-left: 10px;
}
.page-22-bar-graph-three-type .item-row .bar-graph {
  min-width: 30px;
}
.page-22-bar-graph-three-type .item-row .bar-graph.sometimes {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  height: 100%;
  background-color: #0091ea;
  color: #fff;
  padding-left: 8px;
}
.page-22-bar-graph-three-type .item-row .bar-graph.no-problem {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  height: 100%;
  background-color: #cfebfc;
  padding-left: 8px;
}
.page-22-bar-graph-three-type .item-row .bar-graph.urgent {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  height: 100%;
  background-color: #6952e0;
  color: #fff;
  padding-left: 8px;
}

.page-23-container {
  display: flex;
  flex-direction: column;
}
.page-23-container .item-container {
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}
.page-23-container .item-container .right-section {
  width: 41%;
  padding: 24px;
  border: 2px solid #eaeaec;
  border-radius: 8px;
}
.page-23-container .item-container .right-section img {
  width: 100%;
}
.page-23-container .item-container .left-section {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px solid #eaeaec;
  border-radius: 8px;
}
.page-23-container .item-container .left-section p {
  color: #383936;
}
.page-23-container .item-container .page-23-chart-info {
  flex-direction: column;
  align-items: center;
}
.page-23-container .item-container .page-23-chart-info .blue-bg {
  background-color: #cfebfc;
}
.page-23-container .item-container .page-23-chart-info .yello-bg {
  background-color: #feffe2;
}
.page-23-container .item-container .page-23-chart-info p {
  font-size: 16px;
  color: #878792;
}
.page-23-container .item-container .page-23-chart-info .bar-blue {
  width: 32px;
  height: 16px;
  background-color: #cfebfc;
  border: 2px solid #0091ea;
}
.page-23-container .item-container .page-23-chart-info .bar-yellow {
  width: 32px;
  height: 16px;
  background-color: #feffe2;
  border: 2px solid #ffd66c;
}
.page-23-container .item-container .page-23-chart-info .icon-align {
  display: flex;
  align-items: center;
}
.page-23-container .item-container .page-23-chart-info .icon-align span {
  display: flex;
  justify-content: center;
  width: 32px;
}
.page-23-container .item-container .page-23-chart-info td {
  padding: 8px 14px;
  font-size: 16px;
}
.page-23-container .item-container .page-23-chart-info .bt {
  text-align: center;
}
.page-23-container .item-container .page-23-chart-info .br {
  font-size: 15px;
}

.page-24-container {
  color: #494950;
}
.page-24-container p {
  font-size: 16px;
}
.page-24-container .third-area-left {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.page-24-container .third-area-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.page-24-container .info {
  height: fit-content;
}
.page-24-container .hug-graph {
  width: 100%;
  height: max-content;
  padding: 20px;
  background-color: #f4f4f6;
  border-radius: 12px;
}
.page-24-container .hug-graph .graph-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #494950;
  padding: 2px;
}
.page-24-container .hug-graph .graph-body-txt {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #494950;
}
.page-24-container .hug-graph .page-graph-line-left {
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #bfbfc5;
  width: 40px;
  height: 16px;
  margin-right: 10px;
}
.page-24-container .hug-graph .page-graph-line-right {
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: #bfbfc5;
  width: 40px;
  height: 16px;
  margin-left: 10px;
}

.page-25-container {
  color: #494950;
  display: flex;
  height: 1200px;
}
.page-25-container p {
  font-size: 16px;
}
.page-25-container .left-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  border: 1px solid #87cdf7;
  border-radius: 8px;
  background-color: #e7f5fd;
  margin-right: 10px;
  padding: 20px;
}
.page-25-container .right-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  border: 1px solid #eaeaec;
  border-radius: 8px;
  background-color: #f4f4f6;
  margin-left: 10px;
  padding: 20px;
}
.page-25-container img {
  width: 192px;
}
.page-25-container ul li {
  margin: 20px 20px;
}

.page-26-container table tr:last-child {
  border-bottom: 1px solid #eaeaec;
}
.page-26-container .bt {
  background-color: #fff;
  border-right: 1px solid #eaeaec;
  padding: 4px 12px;
}
.page-26-container .bt span {
  display: flex;
  align-items: center;
  width: 100%;
}
.page-26-container .bt p {
  width: 30px;
  font-size: 14px;
  margin-left: 20px;
  color: #61616b;
}
.page-26-container .bt .prograss-bar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
}
.page-26-container .bt .prograss-bar .level-first-active {
  height: 8px;
  background-color: #0073cc;
  border-radius: 4px;
}
.page-26-container .bt .prograss-bar .level-first-active.primary {
  background-color: #0091ea;
}
.page-26-container .bt .prograss-bar .level-second-active {
  height: 8px;
  background-color: #87cdf7;
  border-radius: 4px;
}
.page-26-container .bt .prograss-bar .level-third-active {
  height: 8px;
  background-color: #ffd66c;
  border-radius: 4px;
}
.page-26-container .bt .prograss-bar .level-third-active.transparency {
  background-color: rgba(255, 214, 108, 0.5019607843);
}
.page-26-container .bt:first-child {
  text-align: right;
  border-right: 1px solid #eaeaec;
  background-color: #f6f4f4;
}
.page-26-container .bt:last-child {
  text-align: right;
  border-right: none !important;
}
.page-26-container ul li {
  margin-left: 20px;
}
.page-26-container .sub-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page-26-container .combine-label {
  display: flex;
  margin-bottom: 10px;
}
.page-26-container .combine-label p {
  font-size: 16px;
}
.page-26-container .combine-label .bar-blue {
  width: 32px;
  height: 16px;
  background-color: #0091ea;
  border-radius: 4px;
}
.page-26-container .combine-label .bar-yellow {
  width: 32px;
  height: 16px;
  background-color: #ffd66c;
  border-radius: 4px;
}

.page-27-container table .br {
  width: 20%;
  font-weight: 600;
}
.page-27-container table .br.page-28 {
  width: 25%;
}
.page-27-container table tr:last-child {
  border-bottom: 1px solid #eaeaec;
}
.page-27-container .bt {
  background-color: #fff;
  border-right: 1px solid #eaeaec;
  padding: 8px 12px;
}
.page-27-container .bt span {
  display: flex;
  align-items: center;
  width: 100%;
}
.page-27-container .bt p {
  width: 30px;
  font-size: 16px;
  margin-left: 20px;
  color: #61616b;
}
.page-27-container .bt .prograss-bar {
  width: 100%;
  height: 12px;
  border-radius: 4px;
}
.page-27-container .bt .prograss-bar .level-first-active {
  height: 12px;
  background-color: #0073cc;
  border-radius: 4px;
}
.page-27-container .bt .prograss-bar .level-second-active {
  height: 12px;
  background-color: #57b9f4;
  border-radius: 4px;
}
.page-27-container .bt .prograss-bar .level-third-active {
  height: 12px;
  background-color: #d4d4d8;
  border-radius: 4px;
}
.page-27-container .bt:first-child {
  text-align: right;
  border-right: 1px solid #eaeaec;
  background-color: #f4f4f6;
}
.page-27-container.wt {
  background-color: #fff;
}
.page-27-container .bt:last-child {
  text-align: right;
  border-right: none;
}
.page-27-container ul li {
  margin-left: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  width: fit-content;
  background: #f4f4f6;
  border-radius: 8px;
  font-size: 15px;
}

table {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
table .bt {
  border-top: 1px solid #eaeaec;
}
table .bb {
  border-bottom: 1px solid #eaeaec;
}
table .br {
  border-right: 1px solid #eaeaec;
}
table .header {
  background-color: #f4f4f6;
}
table .emphasize {
  background-color: #eaeaec;
}
table .wmv {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
table .wmven {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
table td {
  padding: 8px 20px;
  font-size: 16px;
}

ul li {
  font-size: 16px;
}

.text-container .main-sub-title {
  font-size: 25px;
  font-weight: bold;
  min-width: max-content;
}
.text-container .main-bold-title {
  font-size: 20px;
  font-weight: bold;
  min-width: max-content;
}
.text-container.row {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}
.text-container.row p {
  color: #878792;
  font-size: 16px;
  font-weight: 500;
}
.text-container.row .combine-label {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.text-container.row .combine-label .bar-blue {
  width: 32px;
  height: 16px;
  background-color: #0091ea;
  border-radius: 4px;
  margin-right: 6px;
}
.text-container.row .combine-label .bar-blue.light {
  background-color: #cfebfc;
}
.text-container.row .combine-label .bar-yellow {
  width: 32px;
  height: 16px;
  background-color: #ffd66c;
  margin-right: 6px;
  border-radius: 4px;
}
.text-container.row .combine-label .bar-purple {
  width: 32px;
  height: 16px;
  background-color: #6952e0;
  border-radius: 4px;
  margin-right: 6px;
}

.normal-font {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.data-null {
  width: 100%;
  border: 2px dashed #ff518e;
  background-color: rgba(255, 81, 142, 0.1333333333);
  border-radius: 5px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.page-15-table {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.page-15-table tr > td {
  padding: 5px 20px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  width: 50%;
}
.page-15-table .bt {
  border-top: 1px solid #eaeaec;
}
.page-15-table .bb {
  border-bottom: 1px solid #eaeaec;
}
.page-15-table .br {
  border-right: 1px solid #eaeaec;
}
.page-15-table .header {
  background-color: #f4f4f6;
  font-size: 27px;
  font-weight: bold;
}
.page-15-table .emphasize {
  background-color: #eaeaec;
}
.page-15-table .wmv {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.page-16-table-thr {
  width: 100%;
  height: 300px;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.page-16-table-thr tr > td {
  border: 1px solid #e5e5e5;
}
.page-16-table-thr td div {
  font-size: 16px;
}
.page-16-table-thr .sec-header {
  color: #ef0061;
  border-left: 2px solid #ffffff;
  width: 110px;
}
.page-16-table-thr .sec-header.thr-thr {
  color: #494950;
}
.page-16-table-thr .right-td {
  border-right: 2px solid #ffffff;
}
.page-16-table-thr .header {
  border-top: 2px solid #ef0061;
  background-color: white;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  font-weight: bold;
  height: 58px;
}
.page-16-table-thr .header.thr-thr {
  color: #494950;
  border-top: 2px solid #494950;
}
.page-16-table-thr .header.thr-thr div {
  color: #494950;
}
.page-16-table-thr .header td {
  padding: 15px 5px;
}
.page-16-table-thr .header div {
  color: #ef0061;
  font-size: 20px;
}
.page-16-table-thr .header .sub-title-page-16 {
  font-size: 16px;
  color: #3c3c3c;
  font-weight: 500;
}

.page-16-table-sec {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.page-16-table-sec tr > td {
  border: 1px solid #e5e5e5;
}
.page-16-table-sec td:nth-child(1) {
  width: 50px;
}
.page-16-table-sec td div {
  font-size: 16px;
}
.page-16-table-sec .sec-header {
  color: #0091ea;
  border-left: 2px solid #ffffff;
}
.page-16-table-sec .right-td {
  border-right: 2px solid #ffffff;
}
.page-16-table-sec .header {
  border-top: 2px solid #0091ea;
  background-color: white;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  font-weight: bold;
  height: 58px;
}
.page-16-table-sec .header td {
  padding: 15px 5px;
}
.page-16-table-sec .header div {
  color: #0091ea;
  font-size: 20px;
}
.page-16-table-sec .header .sub-title-page-16 {
  font-size: 16px;
  color: #3c3c3c;
  font-weight: 500;
}

.page-16-table {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.page-16-table tr > td {
  padding: 5px 20px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
}
.page-16-table .header {
  background-color: #f4f4f6;
  font-size: 16px;
  font-weight: bold;
  width: 240px;
}
.page-16-table .sec-header {
  width: 300px;
}

.page-15-img-not-working {
  width: 330px;
  margin: 22px;
  padding-top: 27px;
}

.page-14-js-problem-img {
  font-weight: bold;
  font-size: 26px;
  margin-top: 27px;
}

.page-16-grape-label-bottom div:nth-child(1) {
  margin-left: 232px;
}
.page-16-grape-label-bottom div:nth-child(2) {
  margin-left: 91px;
}
.page-16-grape-label-bottom div:nth-child(3) {
  margin-left: 96px;
}
.page-16-grape-label-bottom div:nth-child(4) {
  margin-left: 114px;
}
.page-16-grape-label-bottom.sec div:nth-child(1) {
  margin-left: 258px;
}
.page-16-grape-label-bottom.sec div:nth-child(2) {
  margin-left: 152px;
}
.page-16-grape-label-bottom.sec div:nth-child(3) {
  margin-left: 152px;
}
.page-16-grape-label-bottom.sec div:nth-child(4) {
  margin-left: 104px;
}

.page-18-grape-label-bottom div {
  margin-right: 20px;
}
.page-18-grape-label-bottom div:nth-child(1) {
  width: 128px;
  text-align: center;
}
.page-18-grape-label-bottom div:nth-child(2) {
  margin-left: 14px;
}
.page-18-grape-label-bottom div:nth-child(3) {
  margin-left: 12px;
  width: 121px;
  text-align: center;
  word-break: keep-all;
}
.page-18-grape-label-bottom div:nth-child(4) {
  margin-left: -4px;
}
.page-18-grape-label-bottom.thr div {
  margin-right: 20px;
}
.page-18-grape-label-bottom.thr div:nth-child(1) {
  width: 128px;
  text-align: center;
}
.page-18-grape-label-bottom.thr div:nth-child(2) {
  margin-left: 15px;
}
.page-18-grape-label-bottom.thr div:nth-child(3) {
  margin-left: 16px;
  width: 121px;
  text-align: center;
  word-break: keep-all;
}
.page-18-grape-label-bottom.thr div:nth-child(4) {
  margin-left: 22px;
}

.page-20-grape-label-bottom div {
  margin-right: 20px;
  font-size: 16px;
}
.page-20-grape-label-bottom div:nth-child(1) {
  text-align: center;
}
.page-20-grape-label-bottom div:nth-child(2) {
  margin-left: 73px;
}
.page-20-grape-label-bottom div:nth-child(3) {
  margin-left: 73px;
  width: 121px;
  text-align: center;
  word-break: keep-all;
}
.page-20-grape-label-bottom div:nth-child(4) {
  margin-left: 54px;
}
.page-20-grape-label-bottom .first {
  margin-left: 190px;
}

.page-21-grape-label-bottom div {
  margin-right: 20px;
  font-size: 16px;
}
.page-21-grape-label-bottom div:nth-child(1) {
  width: 128px;
  text-align: center;
  margin-left: 190px;
}
.page-21-grape-label-bottom div:nth-child(2) {
  margin-left: 73px;
}
.page-21-grape-label-bottom div:nth-child(3) {
  margin-left: 73px;
  width: 121px;
  text-align: center;
  word-break: keep-all;
}
.page-21-grape-label-bottom div:nth-child(4) {
  margin-left: 54px;
}
.page-21-grape-label-bottom .first {
  margin-left: 190px;
}

.page-22-grape-label-bottom div {
  margin-right: 20px;
  font-size: 16px;
}
.page-22-grape-label-bottom div:nth-child(1) {
  width: 128px;
  text-align: center;
  margin-left: 190px;
}
.page-22-grape-label-bottom div:nth-child(2) {
  margin-left: 73px;
}
.page-22-grape-label-bottom div:nth-child(3) {
  margin-left: 73px;
  width: 121px;
  text-align: center;
  word-break: keep-all;
}
.page-22-grape-label-bottom div:nth-child(4) {
  margin-left: 72px;
}
.page-22-grape-label-bottom .first {
  margin-left: 190px;
}

.personal-result-title {
  display: flex;
  align-items: center;
  color: #297ebb;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  background-color: rgba(195, 230, 248, 0.2941176471);
  border: 1px solid rgba(40, 149, 212, 0.3450980392);
  width: fit-content;
  border-radius: 100px;
  line-height: 16px;
}

.emphasize-line {
  position: absolute;
  border: 3px solid red;
  width: 96px;
  height: -webkit-fill-available;
  right: 186px;
}

.lecture-list-table td {
  border: 1px solid #eaeaec;
  font-size: 15px;
  word-break: keep-all;
  line-height: 21px;
}
.lecture-list-table td div {
  font-size: 15px;
}
.lecture-list-table td .info-red {
  font-size: 10px;
  color: #d3171a;
  line-height: 13px;
  margin-top: 5px;
}
.lecture-list-table .w110 {
  width: 110px;
}
.lecture-list-table .w150 {
  width: 150px;
}
.lecture-list-table .w180 {
  width: 180px;
}

.wsn {
  white-space: nowrap;
}

.pr {
  position: relative;
}

.index-label {
  font-size: 26px;
  color: #565758;
}

.index-input {
  height: 187px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 29px;
  z-index: 1;
  background-color: #ffffff;
  width: 500px;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #f1e9e9;
  padding: 0px 49px;
}
.index-input input {
  width: 100%;
  height: 58px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: none;
  border: 1px solid #9e9c9c;
  padding: 0px 20px;
}

.input-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-16-data-image {
  height: 180px;
  width: 100%;
}

.page-16-legend {
  width: 22px;
  height: 15px;
  background-color: #ffde89;
  border-radius: 5px;
  margin-right: 15px;
}
.page-16-legend.sec {
  background-color: #0091ea;
}

.al-end {
  align-items: end;
}

.h160 {
  height: 160px;
}

.page-16-our-department {
  background-color: #ffde89;
  width: 49px;
  height: 70%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.page-16-our-department.company {
  background-color: #0091ea;
  color: #ffffff;
}

.page-18-our-department {
  background-color: #ffde89;
  width: 41px;
  height: 70%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding-top: 10px;
}
.page-18-our-department.company {
  background-color: #0091ea;
  color: #ffffff;
}

.page-18-grape-img-data {
  height: 175px;
  display: flex;
}

.page-20-grape-img-data {
  height: 130px;
  display: flex;
}

.page-16-legend-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}
.page-16-legend-title.sec {
  margin-top: 100px;
}

.page-16-grape-item {
  width: 240px;
}

.page-18-grape-item {
  width: 130px;
}
.page-18-grape-item.page-25 {
  width: 100%;
  height: max-content;
}

.leadership-style-label {
  justify-content: flex-end;
}
.leadership-style-label div {
  color: #878792;
}
.leadership-style-label p {
  width: 35px;
  height: 15px;
  background-color: #cfebfc;
  border: 2px solid #0091ea;
}

.leadership-style {
  margin: 20px auto 0;
  line-height: 16px;
}
.leadership-style .block {
  position: relative;
  width: 140px;
  height: 140px;
  border: 2px solid #e4e4e7;
  border-radius: 10px;
  padding: 10px;
  color: #494950;
  font-size: 17px;
}
.leadership-style .block .triangle {
  color: #878792;
  font-size: 12px;
  top: 48px;
  right: -2px;
  width: 90px;
  height: 90px;
  border: 2px solid #e4e4e7;
  border-radius: 6px 0 6px;
  background-color: #f4f4f6;
  position: absolute;
}
.leadership-style .block .section1 {
  right: 1px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  display: flex;
  align-items: flex-end;
}
.leadership-style .block .section2 {
  top: 45px;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
  display: flex;
  justify-content: flex-end;
}
.leadership-style .block .section3 {
  left: -2px;
  top: 45px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
  border-radius: 0 6px 6px;
  display: flex;
  align-items: flex-start;
}
.leadership-style .block .section4 {
  left: 1px;
  top: 48px;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  border-radius: 0 6px 6px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.leadership-style .block .section5 {
  top: -2px;
  right: 1px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
  border-radius: 0 6px 6px;
}
.leadership-style .block .section6 {
  top: 1px;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  border-radius: 0 6px 6px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.leadership-style .block .section7 {
  left: -2px;
  top: 1px;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.leadership-style .block .section8 {
  left: 1px;
  top: -2px;
  clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
  display: flex;
  justify-content: flex-end;
}

.wmvkr {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.page-20-grape-container {
  height: 140px;
}

.page-20-legend {
  width: 22px;
  height: 15px;
  background-color: #0091ea;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.page-20-legend.sec {
  background-color: #61616b;
}
.page-20-legend.thr {
  background-color: #ffb26a;
}
.page-20-legend.four {
  background-color: #ffde89;
}

.page-20-active-item {
  background-color: #79c2fa;
  width: 185px;
  height: 200px;
  position: absolute;
  top: -21px;
  border-radius: 23px;
  opacity: 0.1;
}
.page-20-active-item.sec {
  height: 217px;
}
.page-20-active-item.thr {
  height: 198px;
}

.page-20-our-department {
  background-color: #0091ea;
  color: #ffffff;
  width: 28px;
  height: 100%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding-top: 10px;
}
.page-20-our-department.sec {
  background-color: #61616b;
  color: #ffffff;
}
.page-20-our-department.thr {
  background-color: #ffb26a;
  color: #3b3b3b;
}
.page-20-our-department.four {
  background-color: #ffde89;
  color: #3b3b3b;
}

.page-20-grape-item {
  width: 180px;
}

.top-line-page-20 {
  width: 180px;
  height: 2px;
  background-color: #575757;
}

.h125 {
  height: 125px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.al-end {
  align-items: end;
}

.h160 {
  height: 160px;
}

.h100 {
  height: 100px;
}

@media print {
  .page {
    width: 1190px;
    height: 1678px;
  }
  .for-center {
    display: block;
  }
  .input-fixed {
    display: none;
  }
  .index-input {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
